.dialogs{
display: grid;
grid-template-columns: 2fr 10fr;
}

.dialog{

}

.dialogsItems{
    padding: 10px;
}

.dialogsItems .active{
    color: rgb(130, 15, 34);
}

.messages{
    padding: 10px;
}

.message{

}