.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;

    
   
    }
    
    .dialog{
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: flex-start;
    }
    
    .dialogsItems{
        
    }
    
    .dialogsItems .active{
        color: rgb(130, 15, 34);
    }
    
    .messages{
        
    }
