.nav{
    grid-area: n;
    background-image: url(./../assets/1626735108_7-kartinkin-com-p-nyudovie-foni-krasivo-7.jpg);
    padding: 20px;
  }

  .item{
    color: white;
    text-decoration: none;
  }

  .active{
    color: rgb(130, 15, 34);
    text-decoration: none;
  }